@model IEnumerable<WebShop.Models.Classes.Product>
@{
    ViewBag.Title = "AlleProducten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Alle Producten</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korting)
        </th>
        <th>
            @Html.DisplayName("Aan winkelwagen toevoegen")
        </th>
        @if (Session["Loggedin"].Equals("wel"))
        {
            <th>
               @Html.DisplayName("Verander korting")
            </th>
        }
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
            @if (Session["Loggedin"].Equals("wel"))
            {
                <td>@Html.EditorFor(modelItem => item.Korting)%</td>
            }
            else if (Session["Loggedin"].Equals("niet"))
            {
               <td>@Html.DisplayFor(modelItem => item.Korting)%</td> 
            }
        <td>
            @using (Html.BeginForm("Winkelwagen", "Bestelling", new { productid = item.ProductID }, FormMethod.Post))
            {
                <div class="form-group">
                    <input type="submit" value="Toevoegen" class="btn btn-success"/>
                </div>
            }
        </td>
        @if (Session["Loggedin"].Equals("wel"))
        {
            <td>
                @using (Html.BeginForm("EditSale", "Product", new { korting = item.Korting, productid = item.ProductID }, FormMethod.Post))
                {
                    <div class="form-group">
                        <input type="submit" value="Wijzig korting" class="btn btn-success" />
                    </div>
                }
            </td>
        }
    </tr>
}
</table>

