@model IEnumerable<WebShop.Models.Classes.Product>

@{
    ViewBag.Title = "Winkelwagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Winkelwagen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korting)
        </th>
            <th>
                @Html.DisplayName("Verwijder product uit uw winkelwagen.")
            </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korting)%
        </td>
            <td>
                @using (Html.BeginForm("Verwijder", "Bestelling", new { productid = item.ProductID }, FormMethod.Post))
                {
                    <div class="form-group">
                        <input type="submit" value="Verwijder" class="btn btn-success" />
                    </div>
                }
            </td>
        
    </tr>
}

</table>
@using (Html.BeginForm("Bestellen", "Bestelling", FormMethod.Post))
{
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bestellen" class="btn btn-success" />
        </div>
    </div>
}

