@model IEnumerable<WebShop.Models.Classes.Product>

@{
    ViewBag.Title = "Winkelwagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Winkelwagen</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korting)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korting)%
        </td>
    </tr>
}

</table>
